div.notes-wrapper {
  height: 0px; 
  overflow: hidden;
  width: 96%;
  margin: 0 auto;
  position: relative;
  background: rgb(240, 240, 240);
  list-style: none;
  // border-bottom: 1px solid rgb(201, 201, 201);
  border-right: 1px solid rgb(201, 201, 201);
  border-left: 1px solid rgb(201, 201, 201);
  box-shadow: inset 0px 0px 8px rgba(0,0,0,.3)
}


div.notes-wrapper.open-note {
  min-height: 200px;
}

.add-note-container {
  position: absolute;
  width: 100%;
  min-height: 100px;
  bottom: -65%;
  left: 0;
  transition: bottom .2s ease-in-out;
  z-index: 2;
}

.add-note-open {
  bottom: 0%;
  transition: bottom .4s ease
}


.add-note-container label {
  font-size: 1em;
  background: white;
  padding: 10px; 
  border-radius: 3px 3px 0 0;
  cursor: pointer;
}

.add-note-container textarea {
  width: 100%;
  height: 100%;
  min-height: 100px;
  font-size: .9em;
  border: none;
}

.add-note-container .btn-wrapper {
  display: flex;
  justify-content: space-around;
}

.add-note-container .btn-yell {
  margin: 5px;
  text-align: center;
  padding: 5px 15px;
  font-size: .7rem;
}

ul.notes-list {
  padding: 10px 20px
}


ul.notes-list .note-added-date {
  font-size: .7em;
  font-style: italic;
}

ul.notes-list li.notes-list-item {
  font-size: .9em;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(224, 224, 224);
  list-style: none;
}

ul.notes-list li.notes-list-item a.remove-note {
  font-size: .8em;
}