// Colors 
$gray-black: rgb(95,95,95);
$dark-gray: #323336;
$gray: rgb(158, 158, 158);
$off-white: rgb(202, 202, 202);
$yellow: #F6E767;
$light-gray: #F0F5F5;
$green:  rgb(96, 219, 96);
$red: rgb(240, 60, 60);
// Spacing
$xxs-size: .9rem;
$xs-size: 1.2rem;
$s-size: 1.4rem;
$m-size: 1.8rem;
$ml-size: 2.4rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

